<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="velodyne_mount_120" params="parent_link prefix *origin">
    <link name="${prefix}_base_link">
      <visual>
        <geometry>
          <mesh filename="package://velodyne_mount/meshes/velo_120mm.dae" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://velodyne_mount/meshes/velo_120mm.dae" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </collision>
    </link>

    <link name="${prefix}_mount_link" />

    <joint name="${prefix}_base_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${prefix}_base_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <joint name="${prefix}_mount_joint" type="fixed">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_mount_link" />
      <origin xyz="0 0 0.125" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>
